vendor
sites/*/settings*.php
sites/*/services*.yml
sites/*/files
sites/*/private
sites/simpletest

**/node_modules/**/*
sites/default/services.yml
sites/default/settings.local.php
sites/default/settings.php
